<article class="text container">

  <h1>Statistiques</h1>
  
  <p>Aujourd'hui, X visiteurs sur Mes Aides (dont Y sont venus plusieurs fois) ont terminé Z simulations.</p>
  <!--
    X   : http://stats.data.gouv.fr/?module=API&method=VisitsSummary.getVisits&idSite=9&period=day&date=today&format=xml
    Y   : la différence entre X et http://stats.data.gouv.fr/?module=API&method=VisitsSummary.getUniqueVisitors&idSite=9&period=day&date=today&format=xml
    Z   : http://stats.data.gouv.fr/?module=API&method=VisitsSummary.getVisitsConverted&idSite=9&period=day&date=today&format=xml
    XML : http://stats.data.gouv.fr/?module=API&method=VisitsSummary.get&idSite=9&period=day&date=today&format=xml
  -->
    
  <p>Hier, X visiteurs sur Mes Aides (dont Y sont venus plusieurs fois) ont terminé Z simulations.</p>
  <!--
    X   : http://stats.data.gouv.fr/?module=API&method=VisitsSummary.getVisits&idSite=9&period=day&date=yesterday&format=xml
    Y   : la différence entre X et http://stats.data.gouv.fr/?module=API&method=VisitsSummary.getUniqueVisitors&idSite=9&period=day&date=yesterday&format=xml
    Z   : http://stats.data.gouv.fr/?module=API&method=VisitsSummary.getVisitsConverted&idSite=9&period=day&date=yesterday&format=xml
    XML : http://stats.data.gouv.fr/?module=API&method=VisitsSummary.get&idSite=9&period=day&date=yesterday&format=xml
  -->
  
  <p>La semaine dernière, X visiteurs sur Mes Aides (dont Y sont venus plusieurs fois) ont terminé Z simulations.</p>
  <!--
    Je rouille sur les dates pour ce cas là - Sylvain
  -->
    
  <p>Le mois dernier, X visiteurs sur Mes Aides (dont Y sont venus plusieurs fois) ont terminé Z simulations.</p>
  <!--
    Je rouille sur les dates pour ce cas là - Sylvain
  -->
    
  <p>Le semestre dernier, X visiteurs sur Mes Aides (dont Y sont venus plusieurs fois) ont terminé Z simulations.</p>
  <!--
    Je rouille sur les dates pour ce cas là - Sylvain
  -->
  
  <p>Depuis 2017, X visiteurs sur Mes Aides (dont Y sont venus plusieurs fois) ont terminé Z simulations.</p>
  <!--
    X   : http://stats.data.gouv.fr/?module=API&method=VisitsSummary.getVisits&idSite=9&period=year&date=2017-01-01&format=xml
    Y   : la différence entre X et http://stats.data.gouv.fr/?module=API&method=VisitsSummary.getUniqueVisitors&idSite=9&period=year&date=2017-01-01&format=xml
    Z   : http://stats.data.gouv.fr/?module=API&method=VisitsSummary.getVisitsConverted&idSite=9&period=year&date=2017-01-01&format=xml
    XML : http://stats.data.gouv.fr/?module=API&method=VisitsSummary.get&idSite=9&period=year&date=2017-01-01&format=xml
  -->
  
  <h1>Réseaux sociaux</h1>
  
  <!--
  	A la recherche d'une façon plus élégante que les boutons proposés.
  -->
  
</article>
